<div class="container">
    <div class="row">
      <% for (let index = 0; index < products.length; index++) { %>
        <div class="col-md-3 mb-4">
          <div class="card h-100 text-center" style="border: none; width: 100%;">
            <!-- Product Image -->
            <img 
              src="<%= products[index].image ? products[index].image : 'https://raw.githubusercontent.com/mua22/fa24-web-technologies/9e1d5f8d0a80cf95043b73badcfcfb3c5b33b15c/sp23-bse-b/express-demo/public/images/placeholder.svg' %>" 
              class="card-img-top img-fluid" 
              alt="<%= products[index].title %>"
              style="height: 200px; object-fit: cover;"
            />
  
            <div class="card-body">
              <!-- Product Title -->
              <h5 class="card-title text-black text-center">
                <%= products[index].name %>
              </h5>
  
              <!-- Product Price -->
              <p class="fw-bold" style="color: #e75480; text-align: center; font-size: 1.25rem;">
                PKR.<%= products[index].price %>
              </p>
  
              <!-- Product Description -->
              <p class="card-text" style="color: #e75480; text-align: center;">
                <%= products[index].description %>
              </p>
  
              <!-- Add to Bag Button -->
              <a href="#" class="btn btn-purple w-100" style="background-color: #6a0dad; color: white;">
                Add to 
              </a>
            </div>
          </div>
        </div>
      <% } %>
    </div>
  </div>
  
  <div>
  
  </div>